@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;


  --font-sans: var(--font-inter, sans-serif);


  --container-padding: 1rem;
  --container-padding-md: 2rem;
  --container-padding-lg: 4rem;

  --screen-sm: 375px;
  --screen-md: 768px;
  --screen-lg: 1200px;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-inter, sans-serif);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

@media (min-width: 768px) {
  .container {
    padding-left: var(--container-padding-md);
    padding-right: var(--container-padding-md);
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: var(--container-padding-lg);
    padding-right: var(--container-padding-lg);
  }
}
